* { box-sizing: border-box; }

html {
    font-size: 100%;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

a, a:visited, a:hover {
    text-decoration: none;
}

.container {
    &--pall {
        padding: 2rem 4.5rem;
        @include breakpoint-up(medium) {
            padding: 3rem 4.5rem;
        }
    }
    &--pall-nav {
        padding: 2rem 3rem;
        @include breakpoint-up(medium) {
            padding: 3rem 6rem 3rem 3rem;
        }
    }
    &--py {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    &--px {
        padding-left: 4.5rem;
        padding-right: 4.5rem;
    }
}

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-jc-fe {
        justify-content: flex-end;
    }
    &-ai-c {
        align-items: center;
    }
    &-ai-fe {
        align-items: flex-end;
    }
    &-fd-col {
        flex-direction: column;
    }
    &-fd-row {
        flex-direction: row;
    }
}

.hide-for-mobile {
    @include breakpoint-down(small) {
        display: none;
    }
}

.hide-for-tablet {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}

.banner1 {
    @include breakpoint-down(small) {
        background-image: url('/assets/home/background-home-mobile.jpg');
    }
    @include breakpoint-down(medium) {
        background-image: url('/assets/home/background-home-tablet.jpg');
    }
    @include breakpoint-up(large) {
        background-image: url('/assets/home/background-home-desktop.jpg');     
    }
}

.banner2 {
    @include breakpoint-down(small) {
        background-image: url('/assets/destination/background-destination-mobile.jpg');
    }
    @include breakpoint-down(medium) {
        background-image: url('/assets/destination/background-destination-tablet.jpg');
    }
    @include breakpoint-up(large) {
        background-image: url('/assets/destination/background-destination-desktop.jpg');     
    }
}

.banner3 {
    @include breakpoint-down(small) {
        background-image: url('/assets/crew/background-crew-mobile.jpg');
    }
    @include breakpoint-down(medium) {
        background-image: url('/assets/crew/background-crew-tablet.jpg');
    }
    @include breakpoint-up(large) {
        background-image: url('/assets/crew/background-crew-desktop.jpg');     
    }
}

.banner4 {
    @include breakpoint-down(small) {
        background-image: url('/assets/technology/background-technology-mobile.jpg');
    }
    @include breakpoint-down(medium) {
        background-image: url('/assets/technology/background-technology-tablet.jpg');
    }
    @include breakpoint-up(large) {
        background-image: url('/assets/technology/background-technology-desktop.jpg');     
    }
}

.banner1, .banner2, .banner3 {
    min-height: 600px;
    background-position: center bottom;
    background-size: cover;
}

.banner1 {
    height: 100vh;
    @include breakpoint-up(medium) {
        height: 100%;
    }
    @include breakpoint-up(large) {
        height: 100vh;
    }
}

.banner2 {
    height: 100%;
    @include breakpoint-up(large) {
        height: 100vh;
    }
}

.banner3 {
    height: 100%;
    @include breakpoint-up(large) {
        height: 100vh;
    }
}

.banner4 {
    height: 100%;
    @include breakpoint-up(medium) {
        height: 100vh;
    }
}

.tech__img1 {
    background-image: url('/assets/technology/image-launch-vehicle-landscape.jpg');
    @include breakpoint-up(large) {
        background-image: url('/assets/technology/image-launch-vehicle-portrait.jpg');
    }
}

.tech__img2 {
    background-image: url('/assets/technology/image-spaceport-landscape.jpg');
    @include breakpoint-up(large) {
        background-image: url('/assets/technology/image-spaceport-portrait.jpg');
    }
}

.tech__img3 {
    background-image: url('/assets/technology/image-space-capsule-landscape.jpg');
    @include breakpoint-up(large) {
        background-image: url('/assets/technology/image-space-capsule-portrait.jpg');
    }
}