.header {
    .blur-box {
        width: 830px;
        height: 96px;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
        position: absolute;
        align-self: center;
        right: 0;

        @include breakpoint-down(medium) { width: 80%; }
    }
    &__logo { 
        width: 40px;
        height: 40px; 
        
        @include breakpoint-up(medium) {
            width: 48px;
            height: 48px; 
        }
    }
    &__line {
        width: 473px;
        height: 1px;
        background-color: $grey;
        z-index: 1;
    }
    &__menu {
        .options {
            font-family: $barlow-cond-font;
            font-size: 16px;
            letter-spacing: 2.7px;
            text-transform: uppercase;
            color: white;
            cursor: pointer;
            z-index: 1;
            position: relative;

            &__num {
                margin-left: 3.5rem;
                padding-right: 0.5rem;
                font-weight: bold;
            }
            &__title {
                color: white;
                @include breakpoint-down(medium) {
                    margin-left: 3.5rem;
                    padding-right: 0.5rem;
                }
            }
            &::before {
                content: "";
                width: 0%;
                height: 3px;
                position: absolute;
                bottom: -2.3rem;
                left: 3rem;
                transition: all 500ms linear;
                background-color: $grey;
            }
            &:hover::before { width: 70%; }

            @include breakpoint-up(large) {
                &:hover::before {
                    width:75%;
                }
            }
        }
        .chosen-btn::before {
            background-color: white;
            width: 60%;
            @include breakpoint-up(large) { width: 75%; }
        }
        .hamburger {
            @include breakpoint-up(medium) { opacity: 0; }
        }
    }
    &.open {
        .toggle {
            display: flex;
            flex-direction: column;
            z-index: 1;
            position: absolute;
            justify-content: flex-start;
            width: 50%;
            height: 100%;
            top: 0;
            padding: 4rem 3rem;
            background: rgba(255, 255, 255, 0.04);
            backdrop-filter: blur(81.5485px);
            
            .close-menu {
                margin-left: 11rem;
            }
            .menu-options {
                flex-direction: column;
                padding-top: 4rem;
                font-family: $barlow-cond-font;
                font-size: 16px;
                letter-spacing: 2.7px;
                a {
                    text-transform: uppercase;
                    padding-bottom: 2.5rem;
                    color: white;
                    text-align: left;
                }
            }
        }
    }
}

