.header {
    .blur-box {
        width: 830px;
        height: 96px;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
        position: absolute;
        align-self: center;
        right: 0;

        @include breakpoint-down(medium) {
            width: 80%;
        }
    }
    &__logo { 
        width: 48px;
        height: 48px;  
    }
    &__line {
        width: 473px;
        height: 1px;
        background-color: $grey;
        z-index: 1;
    }
    &__menu {
        .options {
            font-family: $barlow-cond-font;
            font-size: 16px;
            letter-spacing: 2.7px;
            text-transform: uppercase;
            color: white;
            cursor: pointer;
            z-index: 1;
            position: relative;

            &__num {
                margin-left: 3.5rem;
                padding-right: 0.5rem;
                font-weight: bold;
            }
            &__title {
                color: white;
                @include breakpoint-down(medium) {
                    margin-left: 3.5rem;
                    padding-right: 0.5rem;
                }
            }
            &::before {
                content: "";
                width: 0%;
                height: 3px;
                position: absolute;
                bottom: -2.3rem;
                left: 3rem;
                transition: all 500ms linear;
                background-color: $grey;
            }
            &:hover::before {
                width: 70%;
            }

            @include breakpoint-up(large) {
                &:hover::before {
                    width:75%;
                }
            }
        }
        .chosen-btn::before {
            background-color: white;
            width: 60%;

            @include breakpoint-up(large) {
                width: 75%; 
            }
        }
        .hamburger {
            > span {
                display: block;
                width: 24px;
                height: 2px;
                background-color: white;
                transition: all 300ms ease-in-out;
                transform-origin: 0% 50%;
                margin-bottom: 6px;
            }
        }
        &.open {
            .hamburger {
                > span:first-child {
                  transform: rotate(45deg);
                } 
                > span:nth-child(2) {
                  opacity: 0;
                }
                > span:last-child {
                  transform: rotate(-45deg);
                }
            }
        }
    }
    /*&__toggle {
        display: flex;
        flex-direction: column;
        z-index: 1;
        position: absolute;
        width: 82%;
        background: $grey;
        padding: 7.8125rem;
        top: 10rem;
        left: 50%;
        transform: translate(-50%);
        font-size: 1.2rem;
        a {
            padding-bottom: 2.9rem;
            color: red;
            text-align: center;
        }
    }*/
}

