.banner {
    flex: 1;

    @include breakpoint-down(small) {
        background-image: url('/assets/home/background-home-mobile.jpg');
    }

    @include breakpoint-down(medium) {
        background-image: url('/assets/home/background-home-tablet.jpg');
    }

    @include breakpoint-up(large) {
        background-image: url('/assets/home/background-home-desktop.jpg');     
    }
}

.main {
    flex: 4;
    flex-direction: column;
    text-align: center;

    @include breakpoint-up(large) {
        flex-direction: row;
        text-align: left;
    }

    .left {
        color: white;
        
        .uptext {
            font-family: $barlow-cond-font;
            font-size: 16px;
            letter-spacing: 2.7px;
            color: #D0D6F9;
            text-transform: uppercase;

            @include breakpoint-down(medium) {
                font-size: 20px;
            }

            @include breakpoint-up(large) {
                font-size: 28px;
                letter-spacing: 4.72px;
            }
        }
        .midtext {
            font-family: $bellefair-font;
            font-size: 80px;
            color: white;
            text-transform: uppercase;
            margin: 0px;

            @include breakpoint-up(medium) {
                font-size: 150px;
            }
        }
        .downtext {
            font-family: $barlow-font;
            font-size: 15px;
            line-height: 25px;
            color: #D0D6F9;
            width: 444px;

            @include breakpoint-up(medium) {
                font-size: 16px;
                line-height: 32px;
            }

            @include breakpoint-up(large) {
                font-size: 18px;
            }
        }
    }

    .right {
        @include breakpoint-up(large) {
            padding-right: 7%;
        }
        .main-button {
            width: 150px;
            height: 150px;
            background-color: #fff;
            border-radius: 50%;
            font-family: $bellefair-font;
            font-size: 20px;
            letter-spacing: 1.25px;
            text-transform: uppercase;
            color: $black;
            transition: all 300ms ease-in-out;

            @include breakpoint-up(medium) {
                width: 242px;
                height: 242px;
                font-size: 32px;
                letter-spacing: 2px;
            }

            @include breakpoint-up(large) {
                width: 274px;
                height: 274px;
            }

            &:hover {
                box-shadow: 0px 0px 0px 85px rgba($color: #FFF, $alpha: 0.1);
            }
        }
    }
}