* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
}

body.noscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container--pall {
  padding: 3rem 4.5rem;
}

.container--pall-nav {
  padding: 3rem;
}

@media (min-width: 40em) {
  .container--pall-nav {
    padding: 3rem 6rem 3rem 3rem;
  }
}

.container--py {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.container--px {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-ai-fe {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-fd-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-fd-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .hide-for-tablet {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.banner {
  height: 100vh;
  min-height: 600px;
  background-position: center bottom;
  background-size: cover;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    right: -50%;
  }
  to {
    visibility: visible;
    right: 0%;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    right: -50%;
  }
  to {
    visibility: visible;
    right: 0%;
  }
}

.fade-in {
  -webkit-animation: fade-in 250ms linear forwards;
          animation: fade-in 250ms linear forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    right: 0%;
  }
  to {
    visibility: hidden;
    right: -50%;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    right: 0%;
  }
  to {
    visibility: hidden;
    right: -50%;
  }
}

.fade-out {
  -webkit-animation: fade-out 250ms linear forwards;
          animation: fade-out 250ms linear forwards;
}

.header .blur-box {
  width: 830px;
  height: 96px;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81.5485px);
          backdrop-filter: blur(81.5485px);
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  right: 0;
}

@media (max-width: 63.9375em) {
  .header .blur-box {
    width: 80%;
  }
}

.header__logo {
  width: 40px;
  height: 40px;
}

@media (min-width: 40em) {
  .header__logo {
    width: 48px;
    height: 48px;
  }
}

.header__line {
  width: 473px;
  height: 1px;
  background-color: #D0D6F9;
  z-index: 1;
}

.header__menu .options {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

.header__menu .options__num {
  margin-left: 3.5rem;
  padding-right: 0.5rem;
  font-weight: bold;
}

.header__menu .options__title {
  color: white;
}

@media (max-width: 63.9375em) {
  .header__menu .options__title {
    margin-left: 3.5rem;
    padding-right: 0.5rem;
  }
}

.header__menu .options::before {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: -2.3rem;
  left: 3rem;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  background-color: #D0D6F9;
}

.header__menu .options:hover::before {
  width: 70%;
}

@media (min-width: 64em) {
  .header__menu .options:hover::before {
    width: 75%;
  }
}

.header__menu .chosen-btn::before {
  background-color: white;
  width: 60%;
}

@media (min-width: 64em) {
  .header__menu .chosen-btn::before {
    width: 75%;
  }
}

@media (min-width: 40em) {
  .header__menu .hamburger {
    opacity: 0;
  }
}

.header.open .toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  position: absolute;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 60%;
  height: 100%;
  top: 0;
  padding: 4rem 3rem;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81.5485px);
          backdrop-filter: blur(81.5485px);
}

.header.open .toggle .close-menu {
  margin-left: 8rem;
}

.header.open .toggle .menu-options {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 4rem;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
}

.header.open .toggle .menu-options a {
  text-transform: uppercase;
  padding-bottom: 2.5rem;
  color: white;
  text-align: left;
}

.banner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 39.9375em) {
  .banner {
    background-image: url("/assets/home/background-home-mobile.jpg");
  }
}

@media (max-width: 63.9375em) {
  .banner {
    background-image: url("/assets/home/background-home-tablet.jpg");
  }
}

@media (min-width: 64em) {
  .banner {
    background-image: url("/assets/home/background-home-desktop.jpg");
  }
}

.main {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (min-width: 64em) {
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
}

.main .left {
  color: white;
}

.main .left .uptext {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: #D0D6F9;
  text-transform: uppercase;
}

@media (max-width: 63.9375em) {
  .main .left .uptext {
    font-size: 20px;
  }
}

@media (min-width: 64em) {
  .main .left .uptext {
    font-size: 28px;
    letter-spacing: 4.72px;
  }
}

.main .left .midtext {
  font-family: "Bellefair", serif;
  font-size: 80px;
  color: white;
  text-transform: uppercase;
  margin: 0px;
}

@media (min-width: 40em) {
  .main .left .midtext {
    font-size: 150px;
  }
}

.main .left .downtext {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #D0D6F9;
  width: 327px;
}

@media (min-width: 40em) {
  .main .left .downtext {
    font-size: 16px;
    line-height: 32px;
    width: 444px;
  }
}

@media (min-width: 64em) {
  .main .left .downtext {
    font-size: 18px;
  }
}

@media (min-width: 64em) {
  .main .right {
    padding-right: 7%;
  }
}

.main .right .main-button {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
  font-family: "Bellefair", serif;
  font-size: 20px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #0B0D17;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@media (min-width: 40em) {
  .main .right .main-button {
    width: 242px;
    height: 242px;
    font-size: 32px;
    letter-spacing: 2px;
  }
}

@media (min-width: 64em) {
  .main .right .main-button {
    width: 274px;
    height: 274px;
  }
}

.main .right .main-button:hover {
  -webkit-box-shadow: 0px 0px 0px 85px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 0px 0px 85px rgba(255, 255, 255, 0.1);
}
/*# sourceMappingURL=style.css.map */